body{
    background-image: url(imagenes/btc3.png);
    background-position: center;   
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    margin-left: 25px;
    margin-right: 25px;
}
h1{
    font-size: 35px;
}
nav{
    display: flex;
   
}
li{
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
    font-size: 35px;
}
h2{
    font-size: 25px;

}
p{
    text-align: justify;
    margin-right: 50px;
}
footer{
    text-align: center;
    padding: 10px;
}
.articulos{
    display: flex;
    margin-bottom: 75px;
}







