body{
    background-image: url(../imagenes/fondos3.webp);
    background-position: center;   
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    width: 70%;
    margin-left: 25px;
    margin-right: 25px;
}
h1{
    font-size: 35px;
}
p{
    text-align: justify;
    margin-right: 50px;
}
.centrado{
display: flex;
justify-content: center;
align-items: center;
margin-top: 130px;
}
.video{
    justify-content: center;
align-items: center;
margin-left: 350px;
}
.imagenesvarias{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    gap:350px;
    align-items: center;
    margin-left: 200px;
    padding-left: 150px ;
    text-align: center;
}
.imagenesvarias2{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    gap:350px;
    align-items: center;
    margin-left: 200px;
    padding-left: 150px ;
    text-align: center;

}


